[Unit]
Description=Influxdb initialization
After=influxdb.service

[Service]
Type=oneshot
ExecStart=/cloudtrust/influx-tools/bin/python /cloudtrust/influx-tools/scripts/populate.py \
          --influx-config-file /cloudtrust/influxdb-configs/influxdb.json
ExecStart=+/bin/systemctl disable influxdb_init 
RemainAfterExit=true

[Install]
WantedBy=multi-user.target

